<div class="container-fluid pt-4 px-4">

  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <a routerLink="add-document" ariaCurrentWhenActive="page" class="btn btn-sm btn-primary"><i
          class="bi bi-plus"></i>
        Ajouter un document </a>
      <form class="d-none d-md-flex ms-4">
        <input class="form-control border-0" type="search" placeholder="Search">
      </form>
    </div>
    <div class="table-responsive">
      <table class="table text-start align-middle table-light table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">
            <th scope="col">#</th>
            <th scope="col">Nom du fichier</th>
            <th scope="col">Categorie</th>
            <th scope="col">Visibilité</th>
            <th scope="col">Télécharger</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let document of documents; let index = index">
            <td class="text-secondary">{{document.id}}</td>
            <td class="text-secondary">{{document.name}}</td>
            <td class="text-secondary">{{document.category.name}}</td>
            <td class="text-secondary">
              <span *ngIf="document.visibility === 0">Non visible</span>
              <span *ngIf="document.visibility === 1">Visible</span>
            </td>
            <td><a class="btn btn-sm btn-primary" (click)="onDownload(document.id, document.file)"><i class="bi bi-file-earmark-arrow-down"></i> Télécharger</a>
            </td>
            <td><a class="btn btn-sm btn-primary" routerLink="edit-document" routerLinkActive="active"
                ariaCurrentWhenActive="page"><i class="bi bi-pencil-square"></i> Modifier</a></td>
            <td><a class="btn btn-sm btn-primary" href=""><i class="bi bi-archive"></i> Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
