<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="table-responsive">
      <table class="table text-start table-light align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">
            <th scope="col">#</th>
            <th scope="col">Nom du fichier</th>
            <th scope="col">Categorie</th>
            <th scope="col">Restorer</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">1</td>
            <td class="text-secondary">Journal de classes</td>
            <td class="text-secondary">Support pédagogique</td>
            <td><a class="btn btn-sm btn-primary" href=""><i class="bi bi-file-earmark-arrow-up"></i> Restorer</a></td>
            <td><a class="btn btn-sm btn-primary" href=""><i class="bi bi-trash"></i> Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
