<div class="d-flex justify-content-center">
  <div class="bg-light col-6 rounded p-4">
    <div class=" h-100 p-4">
      <h6 class="mb-4">Modifier la categorie</h6>
      <form [formGroup]="updateCategoryForm" (ngSubmit)="onUpdate()">
        <div class="mb-3">
          <label for="name" class="form-label">Titre de la categorie</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nouveau titre de la categorie" required>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
      </form>
    </div>
  </div>
</div>
