<div class="d-flex justify-content-center">
  <div class="bg-light col-6 rounded p-4">
    <div class=" h-100 p-4">
      <h6 class="mb-4">Modifier le document</h6>
      <form>
        <div class="mb-3">
          <label for="label" class="form-label">Nom du fichier</label>
          <input type="text" class="form-control" id="label" placeholder="Nom du fichier">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Categorie</label>
            <select class="form-select mb-3" aria-label="Default select example" id="category">
              <option disabled selected hidden>Choisissez une categorie</option>
              <option value="1">Documents administratif</option>
              <option value="2">Supports pédagogiques</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Fichier</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
          Visibilité
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visibility" id="visibility1">
            <label class="form-check-label" for="visibility1">
                Non visible
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visibility" id="visibility2" checked>
            <label class="form-check-label" for="visibility2">
                Visible
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
      </form>
    </div>
  </div>
</div>
