<nav class="navbar navbar-light">
  <a routerLink="documents" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-brand mx-4 mb-3">
      <h3 class=" font-weight-bolder text-primary"><i class="bi bi-folder-plus"></i>&nbsp; FileCenter</h3>
  </a>
  <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
          <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
          <h6 class="mb-0">Kabira Ettalbi</h6>
          <span>Admin</span>
      </div>
  </div>
  <div class="navbar-nav w-100">
      <a routerLink="documents" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link"><i class="bi bi-file-earmark-richtext-fill me-2"></i>Documents</a>
      <a routerLink="categories" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link"><i class="bi bi-folder-fill me-2"></i>Categories</a>
      <a routerLink="archive" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link"><i class="bi bi-archive-fill me-2"></i>Archive</a>
      <a routerLink="users" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link"><i class="bi bi-people-fill me-2"></i>Utilisateurs</a>
  </div>
</nav>

